# Dependencies
node_modules/

# Build outputs
dist/
build/

# Tests and coverage
coverage/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Operating systems
.DS_Store
Thumbs.db